aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
alembic==1.10.3
anyio==3.6.2
apprise==1.3.0
argcomplete==3.0.5
asgi-lifespan==2.1.0
asgiref==3.7.2
async-timeout==4.0.2
asyncpg==0.27.0
attrs==22.2.0
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
cachetools==5.3.1
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
coolname==2.2.0
courlan==0.9.0
croniter==1.3.10
cryptography==40.0.1
dataclasses-json==0.5.7
datamodel-code-generator==0.17.2
dateparser==1.1.8
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==0.5.0
Django==4.0
django-environ==0.9.0
django-heroku==0.3.1
django-import-export==2.8.0
djangorestframework==3.12.4
dnspython==2.3.0
docker==6.0.1
duckduckgo-search==2.8.5
email-validator==1.3.1
et-xmlfile==1.1.0
fake-useragent==1.1.3
fastapi==0.95.0
frozenlist==1.3.3
fsspec==2023.4.0
genson==1.2.2
google-api-core==2.11.0
google-api-python-client==2.84.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
griffe==0.26.0
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
htmldate==1.4.2
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
hyperframe==6.0.1
idna==3.3
importlib-metadata==6.3.0
importlib-resources==5.12.0
inflect==5.6.2
isort==5.12.0
jellyfish==0.11.2
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jsonschema-spec==0.1.4
jusText==3.0.0
kubernetes==26.1.0
langchain==0.0.136
langcodes==3.3.0
lazy-object-proxy==1.9.0
linkify-it-py==2.0.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupPy==1.14
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
numpy==1.24.2
oauthlib==3.2.2
odfpy==1.4.1
openai==0.27.4
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.3.4
openapi-spec-validator==0.5.1
openpyxl==3.0.9
orjson==3.8.10
packaging==23.0
pathable==0.4.3
pathspec==0.11.1
pendulum==2.1.2
platformdirs==3.2.0
prance==0.22.2.22.0
prefect==2.10.2
protobuf==4.22.1
psycopg2==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.7
Pygments==2.14.0
pymerkle==6.1.0
pyparsing==3.0.9
pyperclip==1.8.2
pypinyin==0.44.0
pyrsistent==0.19.3
PySnooper==1.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
readchar==4.0.5
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.3
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
segtok==1.5.11
simpleeval==0.9.13
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a33
sqlitedict==2.1.0
sqlmodel==0.0.8
sqlparse==0.4.2
starlette==0.26.1
tablib==3.2.1
tabulate==0.9.0
tenacity==8.2.2
text-unidecode==1.3
textual==0.19.0
tiktoken==0.3.3
tld==0.13
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
trafilatura==1.5.0
typed-ast==1.5.4
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2021.5
tzlocal==4.3
uc-micro-py==1.0.1
ulid-py==1.1.0
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.21.1
uWSGI==2.0.21
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.1
whitenoise==5.3.0
wikipedia==1.4.0
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.2.0
yake==0.4.8
yarl==1.8.2
zipp==3.15.0
